* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  caret-color: transparent;
  font-size: large;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  background-image: url("../public/venice.jpg");
  background-size: cover;
  overflow-y: "auto";
}
.navbar {
  min-height: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  a {
    font-size: 1rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0 2rem 0 2rem;
  }
  button {
    background: lightcoral;
    border: none;
    text-align: center;
    padding: 0.2rem;
    border-radius: 12px;
    font-size: 1rem;
  }
}

.column-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.column {
  display: inline;
  background-color: #ebecf0;
  border-radius: 5px;
  padding: 1rem;
  max-width: 15rem;
  min-width: 10rem;
  height: fit-content;
}
.title {
  font-size: 1.25rem;
  color: black;
}
.task-container {
  overflow-x: hidden;
  overflow-y: auto;
}
.task::before {
  content: "";
  border: 3px rgba(228, 195, 9, 0.849) solid;
  width: 20px;
  color: rgba(228, 195, 9, 0.849);
  border-radius: 12px;
}
.task {
  color: #172b4d;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  background-color: #fff;
  margin: 0.5rem 0.2rem 0.5rem 0.2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 5px;
}
.column button {
  color: rgb(85, 83, 83);
  font-size: 0.8rem;
  padding: 2px;
  margin-top: 5px;
  border: none;
  cursor: pointer;
}
button {
  padding: 0.25rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  max-width: 15rem;
  min-width: 10rem;
  opacity: 0.5;
}
button:hover {
  background: black;
  color: lightblue;
  cursor: pointer;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 15rem;
  min-width: 10rem;
  input {
    border: none;
    border-radius: 5px;
    :focus {
      border: none;
    }
  }
}
